*.bin
*.jsonl
*.jsonl.bz2
*.jsonl.bz2.part
*.jsonl.bz2.part.1
*.jsonl.bz2.part.2
*.jsonl.bz2.part.3
*.jsonl.bz2.part.4
*.jsonl.bz2.part.5

*.json
*.tar
*.faiss
*.pkl
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma